.button {
  display: flex;
  position: relative;
  border: 2px solid var(--accent-color);
  overflow: hidden;
  background: white;
  color: white;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  font-family: var(--font-accent), Arial, sans-serif;
  font-size: 14px;
  line-height: 90%;
  mix-blend-mode: difference;
  z-index: 1;
}

.card__icon-button {
  inline-size: 2.6875rem;
  block-size: 2.375rem;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: 2px solid var(--accent-color);
}

.card__like-button {
  min-width: 130px;
  min-height: 38px;
}

.card__save-button {
  min-width: 335px;
  min-height: 51px;
  gap: 8px;
}

.save__close-button {
  inline-size: 100%;
  block-size: 2.375rem;
}

.like-icon {
  width: 36px;
  height: 39px;
  cursor: pointer;
}

.save__button-icon {
  width: 21px;
  height: 21px;
}

.save__dialog-icon {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
  align-self: center;
}

.save-icon-animation {
  color: white;
  mix-blend-mode: difference;
  filter: brightness(0) invert(1);
}

@media (width <= 375px) {
  .card__save-button {
    flex-direction: column;
    min-width: 306px;
    min-height: 84px;
  }

  .save__button-icon {
    width: 28px;
    height: 28px;
  }
}