.section__image {
  width: 100%;
  height: auto;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-brightness {
  filter: brightness(150%);
}

.filter-invert {
  filter: invert(100%);
}

.filter-contrast {
  filter: contrast(150%);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-hue-rotate {
  filter: hue-rotate(-40deg);
}

.multiple-filter {
  filter: saturate(150%) invert(20%) brightness(150%);
}